<h3>Do you want to post this ?</h3>

<%= form_with( @picture, url: pictures_path, local: true) do |form| %>
<%= form.hidden_field :content %>
　<%= @picture.content %>
<%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
<%= form.hidden_field :image_cache %>
<%= form.submit "Submit" %>
<%= form.submit "No", name: 'back' %>
<% end %>
